<header>
  <h1>New Comment</h1>
</header>

<form action="create" method="post" id="comment" enctype="multipart/form-date">

  <span class="field top">
    <label for="content">Content</label>
    <textarea type="text" if="content" name="comment[content]"></textarea>
  </span>
  <input class="right" type="submit" value="Create comment">
  
</form>
