<header>
  <h1>Edit Comment</h1>
</header>

<form action="<%= @comment.url %>/edit" method="post" id="comment" enctype="multipart/form-date">

  <span class="field top">
    <label for="content">Content</label>
    <textarea type="text" id="content" name="comment[content]"><%= @comment.raw_content %></textarea>
  </span>
  <input class="right" type="submit" value="Update comment">
  
</form>
