<header>
  <h1>Login</h1>
</header>

<form action="/login" method="post">

  <span class="field inline">
    <label for="username">Username</label>
    <input name="username" id="username" type="text"/>
  </span>
  <span class="field inline">
    <label for="password">Password</label>
    <input name="password" id="password" type="password"/>
  </span>
  
  <input value="Login" class="right" type="submit"/>
  <a href="/member/new">Signup</a>
</form>