<header>
  <h1>Edit Post</h1>
</header>

<form action="<%= @post.url %>/edit" method="post" id="post" enctype="multipart/form-date"> 

  <span class="field inline">
    <label for="title">Title</label>
    <input type="text" id="title" name="post[title]" value="<%= @post.title %>"/>
  </span>
  
  <span class="field top">
    <label for="content">Content</label>
    <textarea type="text" id="content" name="post[content]"><%= @post.content %></textarea>
  </span>
  
  <span class="field top">
    <label for="tags">Tags</label>
    <span class="field inline">
      <label>tag, tag, tag</label>
      <input type="text" id="tags" name="tags"/>
    </span>
  </span>
  
  <input class="right" type="submit" value="Update post">
  
</form>
