<form action="/topic/create" method="post" id="topic" enctype="multipart/form-date">
  <span class="field inline">
    <label for="name">Name</label>
    <input type="text" name="topic[name]"/>
  </span>
  <input type="submit" value="Create topic">
</form>
