<header>
  <h1>New Discussion</h1>
</header>

<form action="/discussion/create" method="post" id="discussion" enctype="multipart/form-date">

  <span class="field top">
    <label for="name">Name</label>
    <input type="text" id="name" name="discussion[name]" size="20"/>
  </span>
  <input class="right" type="submit" value="Create Discussion">
  
</form>
