@import _reset.sass
@import _grid.sass
@import _settings.sass

a
  color: $link_color
  text-decoration: none
  
  &:hover
    color: $link_color_h

strong
  font-weight: bold

em
  font-style: italic

.content
  p
    margin: 12px 0
    
  blockquote
    padding-left: 20px
    border-left: 1px solid silver
    
  ul, ol
    padding-left: 20px
    
  ul
    list-style: disc
    
  ol
    list-style: decimal

html
  font: 14px / 18px $sans_ff
  background: $background_color url(/images/background.png)
  
#flash
  position: absolute
  width: 100%
  left: 0
  background: rgba(255, 255, 255, .9)
  padding: 10px 0px
  margin: 0
  border-bottom: 1px solid rgba(50, 50, 50, .5)
  border-top: 1px solid rgba(255, 255, 255, .9)
  
  span
    margin: 0 20px

#wrapper
  z-index: -1
  background: $page_color
  position: absolute
  left: 50%
  top: 30px
  margin-left: -470px
  padding: 0 60px
  width: $wrapper_width
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  +box-shadow(0, 3px, 5px, rgba(0, 0, 0, 0.3))
  
  > header
    margin: 61px 0 36px
    display: block
    width: $wrapper_width
    position: relative
    
    h1
      font-weight: normal
        
    .meta
      font-size: 12px
      color: $text_faint
      position: absolute
      right: 0px
      top: 6px

@import _form.sass
@import _discussion.sass
@import _post.sass
@import _member.sass
